{% extends "index.html" %}

{% block content%}
        <div class="services">
            <h1>Services</h1>
            <div class="service">
                <div class="service-description">
                    <h2>Service title</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate 
                        libero labore consectetur nostrum blanditiis aliquam a ipsum repellendus 
                        rerum et at neque alias, optio ex quas, quae voluptates reiciendis ad.
                    </p>
                </div>
                <img src="../static/img/16.jpg" height="300px" width="500px">
            </div>
            <div class="service">
                <img src="../static/img/14.jpg" height="300px" width="500px">
                <div class="service-description">
                    <h2>Service title</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate 
                        libero labore consectetur nostrum blanditiis aliquam a ipsum repellendus 
                        rerum et at neque alias, optio ex quas, quae voluptates reiciendis ad.
                    </p>
                </div>
            </div>
            <div class="service">
                <div class="service-description">
                    <h2>Service title</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate 
                        libero labore consectetur nostrum blanditiis aliquam a ipsum repellendus 
                        rerum et at neque alias, optio ex quas, quae voluptates reiciendis ad.
                    </p>
                </div>
                <img src="../static/img/img12.jpg" height="300px" width="500px">
            </div>
            <div class="service">
                <img src="../static/img/img10.jpg" height="300px" width="500px">
                <div class="service-description">
                    <h2>Service title</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate 
                        libero labore consectetur nostrum blanditiis aliquam a ipsum repellendus 
                        rerum et at neque alias, optio ex quas, quae voluptates reiciendis ad.
                    </p>
                </div>
            </div>
            <div class="service">
                <div class="service-description">
                    <h2>Service title</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate 
                        libero labore consectetur nostrum blanditiis aliquam a ipsum repellendus 
                        rerum et at neque alias, optio ex quas, quae voluptates reiciendis ad.
                    </p>
                </div>
                <img src="../static/img/16.jpg" height="300px" width="500px">
            </div>
            <div class="service">
                <img src="../static/img/16.jpg" height="300px" width="500px">
                <div class="service-description">
                    <h2>Service title</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate 
                        libero labore consectetur nostrum blanditiis aliquam a ipsum repellendus 
                        rerum et at neque alias, optio ex quas, quae voluptates reiciendis ad.
                    </p>
                </div>
            </div>
        </div>
   {% endblock %}
