/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
box-sizing: border-box;
margin:0;
padding:0;
background-color:#ffffff;
}

li, a, button,h2{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 16px;
color: #423e33;
text-decoration: none;
}

header{
display:flex;
justify-content: space-between;
align-items: center;
padding:30px 5%;
}
.logo {
    height: 100px;
    width: auto;
    cursor:pointer;
}
.nav-links{
list-style: none;
}

.nav-links li {
display: inline-block;
padding: 0, 20px;
margin-right: 30px;
}

.nav-links li a {
  background: linear-gradient(#60615b, #60615b, #60615b) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding-bottom: 2px;
  --bg-h: 2px;
}

.nav-links li a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

 button{
padding:9px 25px;
background-color: rgba(179, 175, 164,1);
border: none;
border-radius: 50px;
cursor:pointer;
transition:background-size 350ms;
}
 button:hover{
background-color: rgba(179, 175, 164,0.8);
}

.footer {
    background-color: #60615b;
    color: #60615b;
    padding: 20px 0;
    text-align: center;
    position:relative;
    width:100%;

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#60615b;
}

.material-icons {
    font-size: 24px;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Create the Flexbox image grid- photos.html */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
    padding: 10px; /* Add padding as needed */
    margin: 200px;
}

.image {
    flex: 0 0 calc(33.33% - 20px); /* Adjust to control the number of columns and spacing */
    margin-bottom: 20px; /* Add margin between rows */
}

h2{
display:flex;
justify-content: center;
font-size:40px;

}

/* containers for gallery.html */
.container{
display: flex;
width:100%;
}
/* login page */
.login{
padding-top: 10%;
padding-right:45%;
padding-bottom:20%;
padding-left:45%;
box-sizing: border-box;
background-color:
}


